<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">基本信息</div>
	</div>
</div>
<div class="pages">
	<div data-page="manage_basicInfo" class="page" id="manage_basicInfo">
		<div class="page-content">
			<div class="itemWrap list-block">
				<ul style="margin: 15px 0px;">
					<li>
						<div class="item-content">
							<div class="item-media" id="userPhotoId"><img src="" height="80" width="100"></div>
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title" id="basicNameId"></div>
									<div class="item-after" id="userNameId" style="margin-left: 0px;"></div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				<ul style="margin-bottom: 15px;">
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">性别
								</div>
								<div class="item-input sex" id="basicSexId">

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">年龄
								</div>
								<div class="item-input age" id="basicAgeId">

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">身份证
								</div>
								<div class="item-input idCard" id="basicIdCardId">

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">联系电话
								</div>
								<div class="item-input tel" id="basicTelId">

								</div>
							</div>
						</div>
					</li>
				</ul>

				<ul style="margin-bottom: 15px;">
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">所属公司
								</div>
								<div class="item-input comp" id="basicCompId">

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">公司编号
								</div>
								<div class="item-input compCard" id="basicComCardId">

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">人员类型
								</div>
								<div class="item-input type" id="basicTypeId">

								</div>
							</div>
						</div>
					</li>

				</ul>
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">积分
								</div>
								<div class="item-input grade" id="basicGradeId">

								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>