<div class="navbar">
	<div class="navbar-inner">
		<div class="center sliding">信息管理</div>
	</div>
</div>
<div class="pages">
	<div data-page="manage_detail" class="page" id="manage_detail">
		<div class="page-content contacts-content">
			<div class="main" style="background-color: #F8F8FA;">
				<div class="contentlist">
					<a href="manage.html" class="contentlist-box">
						<i class="iconfont icon-web-chengyuan"></i>
						<span>成员列表</span>
					</a>
					<a href="record.html" class="contentlist-box">
						<i class="iconfont icon-web-patrol"></i>
						<span>记录管理</span>
					</a>
					<a href="statistic/statistic_elevator.html" class="contentlist-box">
						<i class="iconfont icon-web-elevatorstair"></i>
						<span>电梯状态</span>
					</a>
					<a href="statistic/statistic_warning.html" class="contentlist-box">
						<i class="iconfont icon-web-messageinfo"></i>
						<span>报事统计</span>
					</a>
					<a href="PostThing.html" class="contentlist-box PostThing" style="display: none;">
						<i class="iconfont icon-web-support"></i>
						<span>电梯报事</span>
					</a>
					<a href="postSubmit.html" class="contentlist-box postSubmit" style="display: none;">
						<i class="iconfont icon-web-weixiu2"></i>
						<span>报事确认</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>