<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">任务记录</div>
	</div>
</div>
<div class="pages">
	<div data-page="record_maintTask" class="page" id="record_maintTask">
		<div class="page-content">
			<div class="main bg-color-f88a">
				<div class="header-search">
					<!--<div class="header-search-title">查询时间周期</div>-->
					<div class="list-block ">
						<ul>
							<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-input">
											<input type="text" placeholder="请选择查询周期" readonly id="calendar-range" style="text-align: center;font-size: 15px;">
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="complain-list" id="maintTaskListId">
					<input type="hidden" id="recordPoitionLng" />
					<ul>
						
					</ul>
					
				</div>

			</div>
		</div>
	</div>
</div>