<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">报事详情</div>
	</div>
</div>
<div class="pages">
	<div data-page="record_complain_detail" class="page" id="record_complain_detail">
		<div class="page-content">
			<div class="list-block">
				<ul id="recordDetailId">
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备序号
								</div>
								<div class="item-input euipId"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">报事时间
								</div>
								<div class="item-input subTime"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">报事人姓名
								</div>
								<div class="item-input name"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">报事人联系电话
								</div>
								<div class="item-input tel"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">报事内容
								</div>
								<div class="item-input con"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">报事说明
								</div>
								<div class="item-input remark"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">报事图片
								</div>
							</div>
						</div>
					</li>
					<li class="imgBoxs">
						<div class="item-content">
							<div class="item-inner ">
								<img src="" style="width:100%;height: auto;">
								<!-- <img src="/Image/head.jpg" style="width:50%;height: auto;"> -->
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">处理状态
								</div>
								<div class="item-input resultInfoId"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">处理人
								</div>
								<div class="item-input Handler"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">处理时间
								</div>
								<div class="item-input HandlingTime"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">处理结果
								</div>
								<div class="item-input FeedBackId"></div>
							</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>