<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">报事信息</div>
	</div>
</div>
<div class="pages">
	<div data-page="statistic_warning" class="page" id="statistic_warning">
		<div class="page-content">
			<div class="main" id="warnInfoId" style="background-color: #F3F2F3;">
				<div class="warn-list">
					<div class="warn-list-box">
						<label>当前被监控电梯总数</label>
						<span id="elevatorNumId"></span>
					</div>
					<div class="warn-list-box">
						<label>当前无问题电梯</label>
						<span id="elevatorHealthId"></span>
					</div>
					<div class="warn-list-box">
						<label>健康率</label>
						<span id="healthRateId"></span>
					</div>
					<div class="warn-list-box">
						<label>正在处理电梯数</label>
						<span id="elevatorDealId"></span>
					</div>
				</div>
				<div class="warn-charts-box" id="warnChartsId"></div>
			</div>
		</div>
	</div>
</div>