<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">电梯详细信息</div>
	</div>
</div>
<div class="pages">
	<div data-page="statistic_elevator_info" class="page" id="statistic_elevator_info">
		<div class="page-content">
			<div class="list-block">
				<ul id="elevatorInfoId">
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备序号
								</div>
								<div class="item-input euipId">11</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备识别码
								</div>
								<div class="item-input DeviceId"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备出厂编号
								</div>
								<div class="item-input SerialNum"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备注册代码
								</div>
								<div class="item-input RegCode"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备品种
								</div>
								<div class="item-input Category"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备型号
								</div>
								<div class="item-input Model"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备安装地址
								</div>
								<div class="item-input InstallAddr"></div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">经纬度
								</div>
								<div class="item-input LngLat"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">是否固定位置
								</div>
								<div class="item-input Fixed"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备内部编号
								</div>
								<div class="item-input InternalNum"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备制造商
								</div>
								<div class="item-input Oem"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">进口设备代理商
								</div>
								<div class="item-input Agent"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备出厂日期
								</div>
								<div class="item-input FactoryDate"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备改造公司
								</div>
								<div class="item-input UpgradeCo"></div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备改造日期
								</div>
								<div class="item-input UpgradeDate"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备安装公司
								</div>
								<div class="item-input InstallCo"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备安装日期
								</div>
								<div class="item-input InstallDate"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">维保公司序号
								</div>
								<div class="item-input MaintId"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">应急救援电话
								</div>
								<div class="item-input Esn"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">使用公司序号
								</div>
								<div class="item-input PropId"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">维保合同有效期
								</div>
								<div class="item-input ContractEmp"></div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">下次检验时间
								</div>
								<div class="item-input NextMaint"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">检验单位
								</div>
								<div class="item-input Inspt"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">承保单位
								</div>
								<div class="item-input Insurance"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">保险单号
								</div>
								<div class="item-input InsuPlc"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">理赔电话
								</div>
								<div class="item-input InsuTel"></div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">保险有效期
								</div>
								<div class="item-input InsuEmp"></div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="itemHead item-title label">设备其它属性
								</div>
								<div class="item-input Others"></div>
							</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>