<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">电梯状态</div>
	</div>
</div>
<div class="pages">
	<div data-page="statistic_elevator" class="page" id="statistic_elevator">
		<div class="page-content">
			<div class="main" id="elevatorInfoId" style="background-color: #F3F2F3;">
				<input type="hidden" id="elevatorUlLiId" />
				<ul class="elevatorUl">
					<li>
						<i class="iconfont icon-web-zuoyebaojing"></i>
						<span>电梯总数</span>
						<label id="equip_num"></label>
					</li>
					<li>
						<i class="iconfont icon-web-weixiu4"></i>
						<span id="">报障</span>
						<label id="fault_num"></label>
					</li>
					<li>
						<i class="iconfont icon-web-xinxi"></i>
						<span id="">投诉</span>
						<label id="complaint_num"></label>
					</li>
					<li>
						<i class="iconfont icon-web-warnset"></i>
						<span id="">维保合同即将到期</span>
						<label id="contract_soonnum"></label>
					</li>
					<li>
						<i class="iconfont icon-web-warnset"></i>
						<span id="">定检即将到期</span>
						<label id="nextmaint_soonnum"></label>
					</li>
					<li>
						<i class="iconfont icon-web-warnset"></i>
						<span id="">维保合同过期</span>
						<label id="contract_overnum"></label>
					</li>
					<li>
						<i class="iconfont icon-web-warnset"></i>
						<span id="">定检过期</span>
						<label id="nextmaint_overnum"></label>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>