<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back icon-only">
            <i class="iconfont icon-web-back"></i>
          </a>
        </div>
        <div class="center sliding">查看资料</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="iconfont icon-web-setup"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="EdictInfor" class="page" id="EdictInfor">
        <div class="page-content">
        	 <div class="itemWrap list-block">
            <ul>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                            <div class="itemHead item-title label">姓名
                            </div>
                            <div class="item-input name">
                             
                            </div>
                        </div>
                    </div>
                </li>
                 <li>
                    <div class="item-content">
                       <div class="item-inner">
                           <div class="itemHead item-title label">性别
                            </div>
                            <div class="item-input sex">
                             
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                           <div class="itemHead item-title label">年龄
                            </div>
                            <div class="item-input age">
                              
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                           <div class="itemHead item-title label">身份证
                            </div>
                            <div class="item-input idCard">
                             
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                           <div class="itemHead item-title label">联系电话
                            </div>
                            <div class="item-input tel">
                              
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

             <ul>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                            <div class="itemHead item-title label">所属公司
                            </div>
                            <div class="item-input comp">
                           
                            </div>
                        </div>
                    </div>
                </li>
                 <li>
                    <div class="item-content">
                       <div class="item-inner">
                           <div class="itemHead item-title label">公司编号
                            </div>
                            <div class="item-input compCard">
                            
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                           <div class="itemHead item-title label">人员类型
                            </div>
                            <div class="item-input type">
                              
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul>
            <ul>
                <li>
                    <div class="item-content">
                       <div class="item-inner">
                            <div class="itemHead item-title label">积分
                            </div>
                            <div class="item-input grade">
                           
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>