<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">知识库</div>
		<div class="right">
			<a href="#" id="sharePicIconId" class="link icon-only"><i class="iconfont icon-web-share"></i></a>
		</div>
	</div>
</div>
<div class="pages">
	<div data-page="knowledge" class="page" id="knowledge">
		<div class="page-content">
			<div class="mainKnowledgeBox bg-color-f88a">
				<div class="knowledge-header">
					<h2>标题</h2>
				</div>
				<div class="knowledge-author">
					<span id="UpperId">
						上传人
					</span>
					<span id="UploadTimeId">
						00-00 00:00
					</span>
					<label id="KeyWordId">文件下载</label>
				</div>
				
				<object data="" width="423" height="375">     
                	<embed id="myEmbedId" src="/Image/elevator/download1.png" onclick="window.open('')" height="128" width="128"></embed> 
         		</object>
				<!--<embed id="myEmbedId" src="/" height="423" width="375" style="border: 0px solid #f00;"></embed>-->
			</div>
		</div>
	</div>
</div>