<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center">查看保单</div>
		<div class="right">
			<a href="#" class="link" onclick="sharMplc()">
				<i class="iconfont icon-fenxiang"></i>
			</a>
		</div>
	</div>
</div>
<div class="pages">
	<div class="page" data-page="lookMplc" id="lookMplc">

		<div class="page-content"> 
			<input id="loTaskId" type="hidden" placeholder="任务id">	
			<div class="pageWrap">
				<p class="wyCom tit">
					物业公司:<span class=""></span>
				</p>
				<p class="sbCode tit">
					设备编号:<span class=""></span>
				</p>
				<p class="fixEquip tit">
					维护设备:<span class=""></span>
				</p>
				<div class="proContent equipLi" style="z-index: 25;">
					<p class="tit">当前设备</p>
					<div class="menu" onclick="checkPro(this)">
						<span></span>
						<i class="icon iconfont icon-web-triangle-bottom" id="checkPro"></i>
						<!-- icon-web-triangle-top -->
					</div>
					<ul class="proList"></ul>
				</div>
				<p class="line"></p>
				<p class="codeNum tit">
					保单编号:<span ></span>
				</p>
				<p class="tit fixPro">维护项目</p>
				<div class="fixItem">
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">机房、滑轮间环境</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">手动紧急操作装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">驱动主机</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">制动器各销轴部位</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">制动器间隙</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">制动器作为轿厢意外移动保护
						装置制停子系统时的自监测</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">编码器</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">限速器各销轴部位</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层门和轿门旁路装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">紧急电动运行</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿顶</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿顶检修开关、停止装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">导靴上油杯</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">对重/平衡重块及其压板</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">井道照明</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿厢照明、风扇、应急照明</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿厢检修开关、停止装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿内报警装置、对讲系统</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿内显示、指令按钮、IC 卡系统</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿门防撞击保护装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿门门锁电气触点</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿门运行</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">轿厢平层准确度</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层站召唤、层楼显示</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层门地坎</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层门自动关门装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层门门锁自动复位</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层门门锁电气触点</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">层门锁紧元件啮合长度</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">坑底环境</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  halfMon" >
						<div class="col-60 itemTit">底坑停止装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">减速机润滑油</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">制动衬</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">编码器</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">选层器动静触点</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">曳引轮槽、悬挂装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">限速器轮槽、限速器钢丝绳</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">靴衬、滚轮</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">验证轿门关闭的电气安全装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">层门、轿门系统中传动钢丝绳、
						链条、传动带</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">层门门导靴</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">消防开关</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">耗能缓冲器</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item  quarter" >
						<div class="col-60 itemTit">限速器张紧轮装置和电气安全装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<!-- 半年维保 *********************************-->
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">电动机与减速机联轴器</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">驱动轮、导向轮轴承部</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">曳引轮槽</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">制动器动作状态监测装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">控制柜内各接线端子</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">控制柜各仪表</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">井道、对重、轿顶各反绳轮
						轴承部</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">悬挂装置、补偿绳</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">绳头组合</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">限速器钢丝绳</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">层门、轿门门扇</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">轿门开门限制装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>

					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">对重缓冲距离</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">补偿链(绳)与轿厢、对重接
						合处</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item halfYear" >
						<div class="col-60 itemTit">上、下极限开关</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>

					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">减速机润滑油</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">控制柜接触器,继电器触点</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">制动器铁芯(柱塞)</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">制动器制动能力</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">导电回路绝缘性能测试</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">限速器安全钳联动试验</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">上行超速保护装置动作试验</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">轿厢意外移动保护装置动作试验</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">轿顶、轿厢架、轿门及其附件安装螺栓</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">轿厢和对重/平衡重的导轨支架</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">轿厢和对重/平衡重的导轨导轨</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">随行电缆</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">层门装置和地坎</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">轿厢称重装置</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">安全钳钳座</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">轿底各安装螺栓</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>
						
					</div>
					<div style="border-bottom: 1px solid #eee;" class="row item" >
						<div class="col-60 itemTit">缓冲器</div>
						<div class="col-40 itemCho">
							<p class="txt">
								<span res="0">确认正常</span>
							</p>
						</div>	
					</div>
				</div>
				<p class="tit falutIn">
						故障描述:<span class=""></span>
					</p>
					<p class="tit remarkIn">
						备注信息:<span class=""></span>
					</p>
					<div class="submitConfig" >
						<div class="row">
							<div class="col-10"></div>
							<div class="col-40" >
								物业签名
								
							</div>
							<div  class="col-40">
								维保签名
							</div>
							<div class="col-10"></div>
						</div>
						<div class="row">
							<div class="col-10"></div>
							<div class="col-40 imgWrap" id="propSign">
								<img  src="">
							</div>
							<div  class="col-40 imgWrap" id="maintSign" >
								 <img   src="">
							</div>
							<div class="col-10"></div>
						</div>
					</div>
					

	</div>
</div>