<div class="navbar">
	<div class="navbar-inner">
		<div class="center sliding">物业管理</div>
	</div>
</div>
<div class="pages">
	<div data-page="manage_property" class="page" id="manage_property">
		<div class="page-content">
			<div class="main bg-color-f779">
				<div class="list-block contacts-block">
					<input type="hidden" id="resultId" />
					<div class="list-group" id="proPertyListId">
						<ul>
							<!--<li>
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">Aaron </div>
										<div class="item-after">积分 60</div>
									</div>
								</div>
							</li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>