<div class="navbar">
	<div class="navbar-inner">
		<div class="center sliding">地图管理</div>
	</div>
</div>
<div class="pages">
	<div data-page="map" class="page" id="map">
		<div class="page-content">
			<div class="main bg-color-f88a">
				<a href="map/map_elevator.html" class="manage-search-btn" style="top: 25%;">
					<i class="iconfont icon-web-elevator"></i>
					<span>电梯分布情况</span>
				</a>
				<a href="map/map_person.html" class="manage-search-btn" style="top: 42.5%;">
					<i class="iconfont icon-web-position"></i>
					<span>人员分布情况</span>
				</a>
				<a href="map/map_company.html" class="manage-search-btn" style="top: 60%;">
					<i class="iconfont icon-web-company"></i>
					<span>公司分布情况</span>
				</a>
			</div>
		</div>
	</div>
</div>