<div class="navbar">
    <div class="navbar-inner">
        <div class="center sliding">我的</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel">
                <i class="icon iconfont icon-web-setup"></i>
            </a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="myInfor" class="page" id="myInfor">
        <div class="page-content">
            <div class="top">
                <div class="headImg">
                    <img src="../../Image/elevator/header.png" alt="" />
                </div>
                <div class="personInfor">
                    <p class="name"></p>

                    <p class="role">
                        <span class="comp"></span>
                            ·
                        <span class="rol"></span>
                    </p>
                </div>
                <div class="grade">
                    <p>积分<span></span></p>
                </div>

            </div>
            <div style="height: 1rem;"></div>
            <div class="itemWrap list-block">
                <ul>
                    <li>
                        <a href="edictInfor.html" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title"><i class="icon iconfont icon-bianji"></i>查看资料</div>
                              </div>
                            </div>
                        </a>
                    </li>
                    <li class="disabled">
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title"><i class="icon iconfont icon-bangding"></i>绑定设置</div>
                              </div>
                            </div>
                        </a>
                    </li>
                    <li  class="disabled">
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title"><i class="icon iconfont icon-ecurityCode"></i>资格证验证</div>
                              </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>