<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only" id="manageDetailBackId">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">报事</div>
		
	</div>
</div>
<div class="pages">
	<div data-page="PostThing" class="page" id="PostThing">

		<div class="page-content">
			<a href="PostProblem.html" class="manage-search-btn">
				<i class="iconfont icon-weixiugongju"></i>
				<span>我要报障</span>
			</a>
			<a href="PostMessage.html" class="manage-search-btn" style="top: 50%;">
				<i class="iconfont icon-web-support"></i>
				<span>我要投诉</span>
			</a>
			<!--<div  class="noright">
                <i class="icon iconfont icon-noright"></i>
                <p>抱歉,您暂无权限查看此页面</p>
            </div>
        	<div class="mid">
        		<a href="PostProblem.html" class="manage-search-btn" style="top: 25%;">
					<i class="iconfont icon-weixiugongju"></i>
					<span>我要报障</span>
				</a>
				<a href="PostMessage.html" class="manage-search-btn" style="top: 42.5%;">
					<i class="iconfont icon-web-support"></i>
					<span>我要投诉</span>
				</a>
        		<a href="PostProblem.html" class="link">
        			<div class="postPro">
		        		<i class="icon iconfont icon-weixiugongju"></i>
		        		<span id="">
		        			我要报障
		        		</span>
		        	</div>
        		</a>
        		<a href="PostMessage.html"   class="link">
        			<div class="postMes">
		        		<i class="icon iconfont icon-web-support"></i>
		        		<span id="">
		        			我要投诉
		        		</span>
		        	</div>
        		</a>
	        	
        	</div>
        	
        </div>-->

		</div>
	</div>