<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">报事确认</div>
	</div>
</div>
<div class="pages">
	<div data-page="postSubmit" class="page" id="postSubmit">
		<div class="page-content">
		<!-- <div class="card">
			<div class="card-footer">
				<a href="#" class="kind">
					<i class="icon iconfont icon-weixiugongju"></i><span>电梯报障</span>
				</a>
				<a href="#" class="time"><span class="redColor">14:42:39</span>&nbsp;<span class="huiColor">2018-02-27</span>
				</a>
			</div>
			<div class="card-content">
				<div class="card-content-inner">
					<div class="leftCon">
						<p>电梯设备号:<span>1</span></p><p>地址:<span>eq1</span></p>
					</div>
					<div class="rightSta">
						<p class="res redColor">未处理</p>
						<p class="btnWrap">
							<a href="#" class="btn">仅确认</a>
							<a href="postDeal.html?tabId=17&equId=1" class="btn">去处理</a>

						</p>
						

					</div>
			</div>
		</div>
		</div> -->
		</div>
	</div>
</div>