<div class="navbar">
	<div class="navbar-inner">
		<div class="left" id="backLeftId">
          <a href="#" class="link back icon-only" style="display: none;">
            <i class="iconfont icon-web-back"></i>
          </a>
        </div>
		<div class="center sliding">记录查询</div>
	</div>
</div>
<div class="pages">
	<div data-page="record" class="page" id="record">
		<div class="page-content">
			<div class="main bg-color-f88a">
				<a href="record/record_maintTask.html" class="manage-search-btn" style="top: 25%;">
					<i class="iconfont icon-weixiu"></i>
					<span>任务记录</span>
				</a>
				<a href="record/record_warn.html" class="manage-search-btn" style="top: 42.5%;">
					<i class="iconfont icon-web-warn-record"></i>
					<span>报障记录</span>
				</a>
				<a href="record/record_complain.html" class="manage-search-btn" style="top: 60%;">
					<i class="iconfont icon-web-toushu"></i>
					<span>投诉记录</span>
				</a>
			</div>
		</div>
	</div>
</div>