<div class="navbar">
	<div class="navbar-inner">
		<div class="center sliding">统计管理</div>
	</div>
</div>
<div class="pages">
	<div data-page="statistic" class="page" id="statistic">
		<div class="page-content">
			<div class="main bg-color-f88a">
				<a href="statistic/statistic_elevator.html" class="manage-search-btn">
					<i class="iconfont icon-web-elevatorstair"></i>
					<span>电梯状态</span>
				</a>
				<a href="statistic/statistic_warning.html" class="manage-search-btn" style="top: 50%;">
					<i class="iconfont icon-web-messageinfo"></i>
					<span>报事信息</span>
				</a>
			</div>
		</div>
	</div>
</div>