<div class="navbar">
	<div class="navbar-inner">

		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="icon iconfont icon-web-back"></i>
			</a>
		</div>
		<div class="center sliding">新建任务维保</div>
		<div class="right">
		</div>
	</div>
</div>
<div class="pages">
	<div data-page="wb_newTask" class="page" id="newTask">
		<div class="page-content createTask" style="display: block;">
    		<input id="taskId" type="hidden" >
    		<!-- 任务id -->
			<input id="taskType" type="hidden" >
			<!-- 物业还是维保 -->
			
			<input id="peoId" type="hidden">
			<!-- 维保人员 -->
			<input id="eqpeoId" type="hidden">
			<!-- 维保设备id -->
			<input id="compIdNe" type="hidden">
			<!-- 维保公司序号 -->
			<input id="creatId" type="hidden">
			<!-- 创建人序号 -->
			<input id="wyIdNe" type="hidden">
			<!-- 物业公司id -->
			<div class="itemWrap list-block">
				
                <div class="proContent" style="height:4rem;">
                    <p class="tit">任务开始时间</p>
                    <div class="date">
						  <input readonly id="dateCho" type="text" value="" style="width: 100%;height: 100%;">
                    </div>
                    <div class="time"> 
                    	<input id="timeCho" type="text" value="" style="width: 100%;height: 100%;padding-left: 0.5rem;">
                    </div>
                </div>
                <div class="proContent mem" style="z-index: 20;">
						<p class="tit">选择人员</p>
						<div class="menu" onclick="checkpeo(this)">
							<span>请选择</span>
							<i class="icon iconfont icon-web-triangle-bottom" id="checkPro" ></i>
							<!-- icon-web-triangle-top -->
						</div>
						<ul class="list-block  proList peo "></ul>
				</div>

				<div class="proContent patrol"  style="z-index: 18;">
					<p class="tit">物业公司选择</p>
					<div class="menu " onclick="checkpeo(this)">
						<span>请选择</span>
						<i class="icon iconfont icon-web-triangle-bottom" id="checkPro" ></i>
					</div>
					<ul class="proList wycom"></ul>
				</div>

				<div class="proContent equipLi"  style="z-index: 17;">
					<p class="tit">物业设备选择</p>
					<div class="menu" onclick="checkpeo(this)">
						<span>请选择</span>
						<i class="icon iconfont icon-web-triangle-bottom" id="checkPro" ></i>
					</div>
					<ul class="proList equip list-block"></ul>
				</div>

				<div class="proContent task"  style="z-index: 16;">
					<p class="tit">任务类型选择</p>
					<div class="menu" onclick="checkpeo(this)">
						<span>请选择</span>
						<i class="icon iconfont icon-web-triangle-bottom" id="checkPro" ></i>
					</div>
					<ul class="proList taskType">
						<li tyId="0" class="item-content" onclick="checkTakTyp(this)">
							<div class="item-inner">
								<div class="item-title">巡查任务</div>
							</div>
						</li>
						<li tyId="1" class="item-content wy" onclick="checkTakTyp(this)">
							<div class="item-inner">
								<div class="item-title">定期维保</div>
							</div>
						</li>
						<li tyId="2" class="item-content wy" onclick="checkTakTyp(this)">
							<div class="item-inner">
								<div class="item-title">维修任务</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="proContent fixItem"  style="z-index: 15;display: none;">
					<p class="tit">维修类型选择</p>
					<div class="menu" onclick="checkpeo(this)">
						<span>请选择</span>
						<i class="icon iconfont icon-web-triangle-bottom" id="" ></i>
					</div>
					<ul class="proList ">
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯没快车慢车</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯轿厢到平层位臵不停车</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯下行正常，上行无快车</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">轿厢运行到所选楼层不换速</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯有慢车没快车</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">轿厢运行未到换速点突然换速停车</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">轿厢平层准确度误差过大</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯运行时轿厢内有异常的噪声和振动</div>
							</div>
						</li>
						<li class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯运行时轿厢内有异常的振动</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">选层记忆并关门后电梯不能启动运行</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">电梯启动困难或运行速度明显降低</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">开门、关门过程中门扇抖动、有卡阻现象</div>
							</div>
						</li>
						<li  class="item-content" onclick="chenckFixItem(this)">
							<div class="item-inner">
								<div class="item-title">其他</div>
							</div>
						</li>
					</ul>
				</div>
				
				<div class="proContent wbType"  style="z-index: 14;display: none;">
					<p class="tit">维保类型选择</p>
					<div class="menu" onclick="checkpeo(this)">
						<span>请选择</span>
						<i class="icon iconfont icon-web-triangle-bottom" id="" ></i>
					</div>
					<ul class="proList ">
						<li wbId="0" class="item-content" onclick="checkWbTyp(this)">
							<div class="item-inner">
								<div class="item-title">半月维保</div>
							</div>
						</li>
						<li wbId="1" class="item-content" onclick="checkWbTyp(this)">
							<div class="item-inner">
								<div class="item-title">季度维保</div>
							</div>
						</li>
						<li wbId="2" class="item-content" onclick="checkWbTyp(this)">
							<div class="item-inner">
								<div class="item-title">半年维保</div>
							</div>
						</li>
						<li wbId="3" class="item-content" onclick="checkWbTyp(this)">
							<div class="item-inner">
								<div class="item-title">年度维保</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="proContent taskCon">
                    <p class="tit">任务内容</p>
                    <div class="menu">
                    	<input class="conTask" type="text">
                    </div>
                </div>
                <div class="proContent">
                    <p class="tit">任务备注</p>
                    <div class="menu">
                    	<input  class="remark" type="text">
                    </div>
                </div>
				<div class="btn wb">
					<p class="button button-fill button-big button-round" onclick="submitTsk()">确认</p>
				</div>
				
		</div>
	</div>
</div>

							